.form{
    background-color: #F0F8FF;
    height: auto;
    z-index: 10000;
    color: #4e54c8;
    width: 20vw;
    border-radius: 1rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    justify-content: center;
    align-items: center;
}

.form p {
    color: red;
}